<div class="ui grid">
  <div class="twelve wide centered column">
    <h1>Movie Search</h1>
    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <div id="submit" class="ui blue button">Submit</div>
    <div class="ui two column grid">
      <div id="movie_results" class="column"></div>
      <div id="single_movie" class="column">
        <div class="ui two column grid">
          <div id="image" class="column"></div>
          <div id="info" class="column"></div>
        </div>
      </div>
    </div>
  </div>
</div>
